<span class="label label-default">estudiante:</span><br/><br/> 
<span class="label label-default">Nombre</span>
 <input type="text" name="nombre" id="nombre" ><br/><br/> 
 <span class="label label-default">cedula</span> 
 <input type="text" name="nombre" id="cedula" ><br/><br/>
 <span class="label label-default">direccion</span> 
 <input type="text" name="nombre" id="direccion" ><br/><br/>
 <span class="label label-default">telefono</span> 
 <input type="text" name="nombre" id="telefono" ><br/><br/>
 <span class="label label-default">correo</span> 
 <input type="text" name="nombre" id="correo" ><br/><br/>
 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Guardar </button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">cancelar </button>